body{
    margin:0;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#f1f5f9;
    font-family:Arial;
}

.login-card{
    width:350px;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.login-card h2{
    text-align:center;
    margin-bottom:20px;
}

.form-group{
    margin-bottom:15px;
}

label{
    font-weight:600;
    font-size:14px;
}

input, select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid #cbd5f5;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#2563eb;
    color:white;
    font-size:15px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1e40af;
}

.error{
    background:#fee2e2;
    color:#991b1b;
    padding:10px;
    margin-bottom:15px;
    border-radius:8px;
    text-align:center;
}
